@font-face {
  font-family: dock11;
  src: url(dock11.otf);
}
body {
  position: fixed;
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #1a1a1a;
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  filter: blur(25px);
  min-width: 100%;
  min-height: 100%;
}
.emboss-txt {
  border-radius: 25px;
  filter: blur(0.5px);
  position: relative;
  font-size: 100px;
  font-family: dock11;
  letter-spacing: 5px;
  color: #cfcfcf;
  text-shadow: 0 0 1px #a7a7a7, 0 1px 1px #a7a7a7, 0 2px 1px #a7a7a7, 1px 1px 1px #a7a7a7, 1px 2px 1px #a7a7a7, 1px 3px 1px #a7a7a7, 2px 2px 1px #a7a7a7, 2px 3px 1px #a7a7a7, 2px 4px 1px #a7a7a7, 1px 10px 30px rgba(0, 0, 0, 0.8),
    1px 10px 70px rgba(0, 0, 0, 0.8), 0 5px 5px rgba(0, 0, 0, 0.8), -5px 5px 20px rgba(0, 0, 0, 0.8), 5px 5px 20px rgba(0, 0, 0, 0.8), 1px 1px 120px rgba(255, 255, 255, 0.5);
}
.emboss-txt::after {
  border-radius: 25px;
  content: "VIKALEXEA";
  font-size: 100px;
  letter-spacing: 5px;
  font-family: dock11;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 0 100px rgba(0, 153, 255, 0.5);
  animation: cycle 10s linear infinite;
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
    transform: translateX(0px)
  }
  50% {
    transform: translateX(80px);
    transform: translateX(80px)
  }
  100% {
    transform: translateX(0px);
    transform: translateX(0px)
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(80px)
  }
  100% {
    transform: translateX(0px)
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}
.snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}
@keyframes cycle {
  0% {
    text-shadow: 0 0 100px rgba(0, 153, 255, 0.5);
  }
  20% {
    text-shadow: 0 0 100px rgba(212, 0, 255, 0.5);
  }
  40% {
    text-shadow: 0 0 100px rgba(0, 255, 115, 0.5);
  }
  60% {
    text-shadow: 0 0 100px rgba(255, 0, 0, 0.5);
  }
  80% {
    text-shadow: 0 0 100px rgba(255, 115, 0, 0.5);
  }
}